body{
    font-family: "Open Sans", sans-serif;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.main {
  display: flex;
  width: 600px;
  border-radius: 30px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);

}

.left-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to top, #352feb, #7454fe);
  color: #cac7ea;
  border-radius: 30px;
}

.right-container {
    border-radius: 0 30px 30px 0;
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  height: 20px;
  margin: 10px 0;
  width: 90%;
  
  
}

.desc i{
    margin: 5px;
}

#reaction{
    background-color: #ffeded;
    color: #ff9385;
}

#memory{
    background-color: #fff7e8;
    color: #ffba61;
}
#verbal{
    background-color: #e4f7f2;
    color: #3dc49e;
}
#visual{
    background-color: #e6e8fa;
    color: #4554de;
}

.btn{
    height: 40px;
    border-radius: 30px;
    border: 0;
    background-color: #2f3a59 ;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(28, 26, 138);
}



.score{
    border: 1px solid black;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    text-align: center;
    background: linear-gradient(to bottom, #352feb, #7454fe);
    border: 0;
}

.score h1{
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    color: white;
}
.score p{
    margin-top: 7px;
}

.btn{
    margin-top: 30px;
}

.conclusion{
    text-align: center;
    color: white;
}

.conclusion p{
    font-size: small;
}



@media screen and (max-width: 600px) {



    .section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}



  .main {
    display: flex;
    flex-direction: column;
    width: 300px;
  }


  .left-container {
box-sizing: border-box;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
}

.right-container {
 box-sizing: border-box;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
}
